#temp-save,
#perm-save,
#statistics,
#options,
#calendar,
.hidden-tr {
  display: none;
}

#arbeitszeit,
#tagessumme-helper {
  border: none;
}

#tr-890 {
  transition: 500ms ease-in-out;
}

[id*="-btn-delete"].is-success,
[id*="-btn-add"].is-danger,
button.is-loading {
  pointer-events: none;
}

.calendar-container {
  border-left: 0.5px solid #00d1b2;
  border-bottom: 0.5px solid #00d1b2;
  border-right: 0.5px solid #00d1b2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.navbar-item .button {
    border: none;
}

/* https://codepen.io/AllThingsSmitty/pen/MyqmdM */

@media screen and (max-width: 1088px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
